.blog-page {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 8px;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  transition: all 0.1s ease-out;

  img {
    width: 50%;
    margin-bottom: 10px;
  }

  &__content {
    padding: 20px;
    margin-top: 10px;
    margin-left: 20px;
    overflow: auto;
    max-height: 70vh;
  }

  &__edit-btns {
    position: absolute;
    right: 10px;

    button {
      background-color: transparent;
      border: none;
      outline: none;
      padding: 7px;
      border-radius: 7px;

      &:hover {
        background-color: #ccc;
      }
    }
  }

  &:hover {
    background-color: #e2e2e2;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      color: #a3a3a3;
    }
  }

  &__tags {
    display: flex;
    gap: 7px;
  }

  &__title {
    display: flex;

    img {
      width: 40px;
      border-radius: 100%;
    }
  }

  &__name {
    margin-left: 40px;
  }
}

.blog-page-container {
  display: block;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 4px 1px #707070;
  padding: 10px;

  .back {
    text-decoration: none;
    color: #fff;
    background-color: #000000;
    padding: 8px 20px;
    border-radius: 7px;
    outline: none;
    border: none;
    transition: background 0.1s linear;
    margin-bottom: 10px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
}
