.add-blog {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 10px;
  gap: 5px;

  img {
    width: 60%;
    margin-bottom: 10px;
  }

  .preview__image {
    width: 50%;
  }

  .preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .delete {
    background-color: rgb(255, 0, 0);
    border: none;
    outline: none;
    color: #fff;
    padding: 8px 20px;
    transition: background 0.1s linear;
    border-radius: 7px;
    cursor: pointer;

    &:hover {
      background-color: rgb(151, 0, 0);
    }
  }

  &__file {
    padding: 10px 20px;
    background-color: #fff;
    color: #007bff;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background 0.1s ease-out;
    font-size: 14px;
  }

  &__file:hover {
    background-color: #dfdfdf;
  }

  &__title {
    font-size: 26px;
    width: 100%;
    padding: 10px 10px;
    background-color: transparent;
    border: 2px solid transparent;
    outline: none;
    font-weight: bold;
    letter-spacing: 1px;
  }

  &__title:focus {
    border: 2px solid #ccc;
    border-radius: 7px;
  }

  &__tags {
    width: 100%;
    padding: 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
  }

  .tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .tag {
      background: lightgray;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }

  &__content {
    margin-top: 30px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    height: 300px;
    font-size: 16px;
    width: 100%;
    resize: none;
    overflow: auto;
  }

  &__buttons {
    display: flex;
    gap: 8px;

    .publish-btn {
      background-color: rgb(0, 102, 255);
      cursor: pointer;
      border: none;
      outline: none;
      color: #fff;
      padding: 8px 20px;
      border-radius: 7px;
      transition: background 0.1s linear;

      &:hover {
        background-color: rgb(0, 75, 189);
      }
    }

    .cancel-btn {
      color: rgb(0, 102, 255);
      padding: 8px 20px;
      border-radius: 7px;
      transition: background 0.1s ease-out;

      &:hover {
        background-color: #ccc;
      }
    }
  }
}
