.tags {
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 8px;

  .tag {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 10px;
    border-radius: 8px;
    transition: background 0.1s ease-in-out;

    &__name {
      font-size: 13px;
    }
  }

  .tag:hover {
    background-color: #ccc;
  }
}
